.basket-main
{
  width: var(--container-width);
  margin: 0 auto;
}

.img_rotate{
  transform:rotate(180deg);
}

/* basket style */
.basket-main{
  margin-top:80px;
  margin-bottom: 80px;
}

.basket-main h2{
  text-align: center;
  margin-bottom:44px;
  font-size:var(--text-lg);
  font-weight: 600;
}

.basket-main-wrapper{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0px;
  gap: 24px;

}

.list-bar{
  min-height: 56px;
  width: 742px;
  padding: 16px 0px;
  border-bottom: 1px solid #000000;
  font-weight: 600;
  font-size: 16px;
} 

.list-toggle_button{
  float:right;
  width:30px;
  height:30px;
  background-color:transparent;
  border:none;
  outline: none;
  background-image: url(../assets/icons/web-icons/basket_arrow.svg);
}


.no-option{
  padding:114px 0;
  text-align: center;
  font-weight: 400;
  color:var(--gray-300);
  border-bottom: 1px solid var(--gray-100);
}

.select-all{
  width: 742px;
  padding: 16px 0px;
  font-weight: 600;
  font-size: 16px;
  display: flex;
  align-items: center;
  line-height: 24px;
}

.select-all span{
  font-size:10px;
  margin:0 4px;
}

.selected-number,
.total-number {
  display:inline-block;
}


.select_list input[type=checkbox],
.select-all input[type=checkbox]{
  display:none;
}
.select_list input[type=checkbox]+label,
.select-all input[type=checkbox]+label{
  cursor: pointer;
  background-image: url(/lab14-project/client/assets/icons/web-icons/check.png);
  background-position:-10px -10px;
  background-repeat: no-repeat;
  padding-left: 32px;
}
.select_list input[type=checkbox]:checked+label,
.select-all input[type=checkbox]:checked+label{
  background-image: url(/lab14-project/client/assets/icons/web-icons/check.png);
  background-position:-10px -54px;
}
.select_list input[type=checkbox]:disabled+label,
.select-all input[type=checkbox]:disabled+label{
  background-image: url(/lab14-project/client/assets/icons/web-icons/check.png);
  background-position:-10px -10px;
}

.select_list label{
  height: 24px;
}

.select_list{
  display: flex;
  align-items: center;
  height: 118px;
  width: 742px;
  border-radius: 0px;
  padding: 20px 0;
}

.select_list a{
  display:flex;
  align-items: center;
  font-size: 16px;
  font-weight: 600;

  width: 413px;
  margin-right: 8px;

}

.food-picture{
  width:60px;
  height: 78px;
  margin-right:8px;
}


/* product counter box style */

.product-counter_wrapper{
  display: flex;
  align-items: center;
  font-size: var(--text-base);
  font-weight: 600;


  
}

.product-counter_box{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0px;
  gap: 8px;
  width: 84px;
  height: 30px;
  border: 1px solid var(--gray-200);
}


.product-counter_wrapper > p {
  width:127px;
  text-align: right;
  margin-right: 8px;
}



.counter-delete_button{

  width: 30px;
  height: 30px;
  padding:0px;
  background-image: url(/lab14-project/client/assets/icons/web-icons/Close-dark.svg);
  background-repeat: no-repeat;
  background-position:50% 50%;
  border:none;
  background-color: transparent;
  
}

.minus-counter_button{
  width: 30px;
  height: 30px;
  padding:0px;
  background-image: url(/lab14-project/client/assets/icons/web-icons/Minus.svg);
  background-repeat: no-repeat;
  background-position:-8px -8px;
  border:none;
  background-color: transparent;


}
.plus-counter_button{
  width: 30px;
  height: 30px;
  padding:0px;
  background-image: url(/lab14-project/client/assets/icons/web-icons/Plus.svg);
  background-repeat: no-repeat;
  background-position:-8px -8px;
  border:none;
  background-color: transparent;


}




.basket-info{
  width:284px;
}

.aside_sticky{
  position: sticky;

}

.location-info{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px;
  gap: 12px;
  border: 1px solid var(--gray-100);
  font-weight: 600;
  font-size: 16px;

}

.location-change-button{
  width:244px;
  height: 44px;
  border: 1px solid var(--primary);
  border-radius: 4px;
  background-color: transparent;
  font-size: var(--text-base);
  padding:10px ;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content:center;
  /* background-color: yellow; */
 
 }
 .location-change-button span{
  display:inline-block;
  /* background-color: blue; */
  vertical-align:baseline;
  margin-right: 12px;
 }




.amount-info{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px;
  background: var(--gray-50);
  border: 1px solid var(--gray-100);
  color:var(--content);
}

.amount-sep{
  padding-bottom:8px;
  border-bottom: 1px dashed var(--gray-100);
  width: 244px;
}
.amount-sep li{
  margin-bottom:16px;
}

.amount-total{
  padding-top :24px;
  width: 244px;
}

.money-info{
  float:right;
}

.saving-info{
  margin-top:11px;
  font-size:var(--text-xs);
  font-weight: 600;
  text-align: right;
}

.saving-info span{
  display: inline-block;
  line-height: 18px;
  height: 18px;
  width: 37px;
  text-align: center;
  border-radius: 1px;
  background: #FA622F;
  color:var(--white);
  margin-right:8px;
}

.order-button-wrapper{
  margin:16px 0 16px 0;

}

.order-button{
  width:284px;
  height:44px;
  color:var(--white);
  border:none;
  border-radius: 4px;
  font-weight: bolder;
  background-color: var(--gray-200);
}

.add-info{
  color: var(--gray-400);
  font-weight: 600;
  font-size: var(--text-xs);
  line-height: 150%;
}

.add-info span{
  display:inline-block;
}


.refrigerated-food::before{
  content: "";
  display:inline-block;
  width: 30px; height: 30px;
  background-image: url(../assets/icons/web-icons/basket_icon.png);
  background-position:-10px -110px;
  vertical-align: middle;
  margin-right:12px;

}
.frozen-food::before{
  content: "";
  display: inline-block;
  width: 30px; height: 30px;
  background-image: url(../assets/icons/web-icons/basket_icon.png);
  background-position:-10px -10px;
  vertical-align: middle;
  margin-right:12px;
}
.normal-food::before{
  content: "";
  display: inline-block;
  width: 30px; height: 30px;
  background-image: url(../assets/icons/web-icons/basket_icon.png);
  background-position:-10px -60px;
  vertical-align: middle;
  margin-right:12px;
}

.location-map::before{
  content: "";
  display: inline-block;
  width: 36px; height: 36px;
  background-image: url(../assets/icons/web-icons/Location.svg);
  vertical-align: middle;
}

.location-map{
  font-weight: 600;
  font-size: 16px;
}

.star-delivery{
font-size: 12px;
font-weight: 600;
letter-spacing: 0em;
color:var(--primary);
}