.header_inner,	
.top-banner_inner,	
.footer_inner,	
.footer_section {	
  width: var(--container-width);	
  margin: 0 auto;	
}	
/* 헤더 */
.header{
  box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.1);
  min-width:1200px;
}

/* top banner style */
.top-banner{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4px;
  gap: 4px;
  background-color: var(--primary);
  height:50px;
}

.top-banner_inner{
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px;
gap: 72px;
isolation: isolate;
background-image:url(../assets/icons//web-icons/Close.svg);
background-repeat: no-repeat;
background-position: right;
background-size: 42px;
}

.top-banner_inner span{
  line-height: 42px;
  color: var(--white); 
  font-size:var(--text-base);
  font-weight: 400 ;
}


/* 회원 navigation style */

.member-nav{
  text-align: right;
  font-size:var(--text-xs);
  font-weight: 400;
  margin-top:12px;
  color:var(--content);
}

.member-nav_sign {
  color:var(--primary);
}

.member-nav span {
  color:#D9D9D9;
  margin:0 6px;
}

/* 로고 , 검색 폼 , 아이콘 navigation style */

.header_inner_main{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px;
  gap: 95px;
  isolation: isolate;
  font-size:21px;
  margin-top:32px
}


.header_inner_main h1{
  display: flex;
  height: 42px;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 12px;
  font-weight: 600;
  color: var(--gray-400);
}
.contents-border {
  color:#D9D9D9;
  font-weight: 1;
}


.header_inner_main sup{
  display: inline-block;
  color:#FA622F;
  font-size:1px;
  font-weight: bolder;  
  vertical-align:text-top;
  transform: translateY(-50%);
}


.header_inner_main ul{
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 20px;
}

/* 검색 form style */
.form-group-input{
  width: 400px;
  height: 60px;
  padding: 12px 20px;
  gap: 31px;
  border: solid var(--primary) 1px;
  border-radius: 4px;
  background-origin: content-box;
  background-image:url(../assets/icons/web-icons/Search.svg);
  background-repeat: no-repeat;
  background-position:right;
  color: var(--gray-400);
  outline:none;
  transform: translateX(-47px);
}

/* 헤더 메뉴 */
.header_menu{
  margin: 0;
  width: 1150px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0px;
  font-weight:600 ;
  background-color: var(--white);
  z-index: 20;
}

.header_menu_category{

  display:flex;
  vertical-align: middle;
}

.header_menu_category img {
  margin-right:12px;
}

.header_menu_wrapper{
  width:600px;
  height: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items:center;
  padding: 0px;
  margin-left:35px;
}


.header_menu button{
  height: 27px;
  font-size: var(--text-xs);
  border-radius: 16px;
  padding: 4px 8px 4px 8px;
  border: 1px solid var(--gray-300);
  background-color:transparent;
  font-weight: 400;
}
.header_menu_delivery {
}
/* 스크롤 내릴때 생기는 메뉴바 */
.header_menu_search {
  width: 238px;
  height: 36px;
  display: none;
}
.header_menu_input {
  width: 238px;
  height: 36px;
  padding-left: 14px;
  margin-left: 30px;
  box-sizing: border-box;
  background-color: var(--gray-100);
  border-color: var(--gray-100);
  color: var(--black);
  display: none;
}
.sticky-ul {
  display: flex;
  visibility: hidden;  
  position: relative;
}
.cart-bell {
  position: absolute;
  top: 10px;
  right: 0px;
  width: 15px;
  height: 15px;
  z-index: 20;
  visibility: hidden;
}

/* footer style */
.footer {
  position: relative;
}

.footer_section{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 28px 0px 32px;
  border-bottom: 1px solid #E1E1E1;
}

.footer_section h3{
  font-weight:700;
  font-size:var(--text-lg);
  color:var(--content);
}
.service-center_wrapper li{

  display: flex;
  flex-direction:row;
  padding: 0px;
  gap: 16px;
  margin-top:16px;
  padding:6px 0 ;
}


.service-center_number{
  font-weight: 700;
  font-size: 38px;
  color:var(--content);
}
.service-center_time{
  line-height: 45px;
  font-weight:600;
}

.ask-button{
  height: 40px;
  width: 140px;
  border-radius: 0px;
  padding: 4px;
  border: 1px solid var(--gray-200);
  background-color:transparent;
}

.text-visual{
  line-height: 140%;
  height:40px;
  display:inline-block;
}
.not-member-text{
  font-size:12px;
}

.service-center_wrapper2{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 28px;
}

.service-center_wrapper2 ul{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0px;
  gap: 22px;
  font-size:16px;
  font-weight: 400;
}

.service-center_wrapper2 p{
  font-size:var(--text-xs);
  line-height:160%;
}

.sns-icon img{
  width:30px;
  height:30px;
  margin-right:20px;
}

.footer_section2{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding: 24px 0px 32px;
  font-size:10px;
  line-height:160%;
}

.footer_section2 img{
  float:left;
}
.footer_section2 p{
  margin-left:42px;
}

/* small style */
.small-info {
  width:100%;
  height: 108px;
  text-align: center;
  line-height: 160%;
  font-size:10px;
  color:var(--gray-400);
  padding-top:20px;
  background-color : var(--gray-50) ;
}
.copyright{
  margin-top:10px;
}

.footer{
  border-top: 1px solid #E1E1E1;
}

.toss-text{
  transform: translateX(9px);
}

.top-button {
  position: fixed;
  bottom: 20px;
  right: 30px;
  border: none;
  border-radius: 70%;
  display: none;
  overflow: hidden;
  padding: 0 0;
}

.top-button__active{
  display: block;
  transition: 2200s;
}

.top-button-img{
  display: block;
  border: none;
  width: 100%;
  height: 100%;
  max-width: 50px;
  max-height: 50px;
  overflow: hidden;
  object-fit: cover;
 }


 