.main-page-main{
  position: relative;
}

/* -------------------------------------------------------------------------- */
/*                              main-banner Block                             */
/* -------------------------------------------------------------------------- */

.main-banner{
  /* Main_banner */
  overflow: hidden;
  width: 100%;
  height: 370px;
  display: flex;
  /* flex-shrink: 0; */
  align-items:center; /* 위아래 기준 중앙정렬 */
  justify-content:center; /* 좌우 기준 중앙정렬 */
  min-width: 1068px;
  position: relative;
}

/* -------------------------------------------------------------------------- */
/*                          recent-product block                              */
/* -------------------------------------------------------------------------- */


.recent-product{
  position: absolute;
  top: 502px;
  right: 20px;
  
  display: flex;
  flex-flow: column nowrap;
  /* align-content: space-between; */
  align-items: center; 
  padding: 0 2px 0 2px;
  
  width: 84px;
  /* min-height: 200px; */
  max-width: 209px;
  /* height:auto; */
  overflow: hidden;
  border: 1px solid #C4C4C4;
}

.recent-product__meet-bottom{
  top:unset;
  bottom: 110px;
}

.recent-product__fixed{
  position: fixed;
  top: 193px;
}

.recent-product_title{
  margin-top: 6px;
  display: inline-block;
  width: 60px;
  height: 18px;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  
  color: rgb(51, 51, 51);
  letter-spacing: -0.3px;
  
  flex: none;
  order: 1;
  flex-grow: 0;
}



/* -------------------------------------------------------------------------- */
/*                            product-display Block                           */
/* -------------------------------------------------------------------------- */
.product-display{
  /* background-color: SpringGreen; */
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  min-height: 601px;
  padding: 40px 0 0 0;
}

.product-display_title{
  /* background-color: aliceblue; */
  width: 1050px;
  height: 64px;
  text-align: center;
  display: inline-block;
  font-size: 28.43px;
  font-weight: 900;
  line-height: 64px;

}

.product-display_wrapper{
  min-height: 429px;
  width: 1100px;
  padding: 0 25px;
  margin-top: 28px;
  display: flex;
  position: relative;
}

.product-display_product-cards-container{
  display: flex;
  /* justify-content: space-between; */
  width: 100%;
  height: 100%;
  text-align: left;
  /* isolation: isolate; */
}

.product-display_product-cards-container li{
  margin-right: 15px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 249px;
  min-height: 429px;
  max-height: 518px;
  /* background-color: coral; */
}

.product-display_product-card{
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
}
.product-display_product-card figure{
  overflow: hidden;
  position: relative;
  width: 249px;
  height: 320px;
}

.product-display_cart-icon-container{
  display: block;
  /* background: pink; */
  position: absolute;
  width: 45px;
  height: 45px;
  top: 260px;
  right: 16px;
  z-index: 40;
}

.product-display_cart-icon{

}

.product-display_product-img{
  /* background: pink; */
  width: 249px;
  height: 320px;
  transition: 600ms;
}


.product-display_product-img:hover{
  transition: 860ms;
  transform: scale(1.1,1.1);
}


.product-display_info-wrapper{
  bottom: 0;
  margin-top: 16px;
  /* position: absolute; */
  min-height: 90px;
  padding-left: 2px;
  /* max-height: 100px; */
  /* background-color: #fff; */
  display: flex;
  flex-flow: column nowrap;
}

.product-display_info-wrapper mark{
  display: block;
  background-color: #fff;
}

.product-display_shipping-info{
  width: 42px;
  height: 18px;

  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 150%;

  color: #898989;
 
  flex: none;
  order: 0;
  flex-grow: 0;
}

.product-display_product-name{
  /* [풀무원] 탱탱쫄면 (4개입) */
  height: 26px;
  text-align: left;
  font-family: 'Pretendard';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  
  color: #333333;
}
.product-display_price-wrapper{
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-start;
  width: 47px;
  height: 32px;
  gap: 8px;
  
  flex: none;
  order: 2;
  flex-grow: 0;
}
.product-display_discount-rate{
  
  display: inline-block;
  width: 47px;
  height: 32px;
  font-weight: 600;
  font-size: 21px;
  line-height: 150%;
  
  color: #FA622F;
  flex: none;
  order: 0;
  flex-grow: 0;

}
.product-display_sell-price{
  width: 93px;
  height: 32px;
  
  font-family: 'Pretendard';
  font-style: normal;
  font-weight: 600;
  font-size: 21.328px;
  line-height: 150%;
  
  color: #333333;
  
  flex: none;
  order: 1;
  flex-grow: 0;
  
}

.product-display_undiscounted-price{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  isolation: isolate;
  width: 53px;
  height: 19px;
  flex: none;
  order: 3;
  flex-grow: 0;
  font-size: 12px;
  font-weight: 400;
  line-height: 160%;
  color: #898989;
  text-decoration: line-through;
}

.product-display_product-detail{
  width: 162px;
  height: 19px;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 160%;
  color: #898989;
  flex: none;
  order: 4;
  flex-grow: 0;
}
.product-display_badge-wrapper{
  display: flex;
  align-items: flex-start;
  gap: 8px;
  
  width: 123px;
  height: 26px;
  
  flex: none;
  order: 5;
  flex-grow: 0;
}
.product-display_badge-wrapper > mark{
  display: flex;
  justify-content: center;
  padding: 4px;
  gap: 4px;
  
  width: 65px;
  height: 26px;
  font-weight: 600;
  font-size: 12px;
  line-height: 150%;
  background: #E1E1E1;
  border-radius: 4px;

  flex: none;
  order: 0;
  flex-grow: 0;
}

.product-display_karly-only::after{
  
  color: #5F0080;
  flex: none;
  order: 0;
  flex-grow: 0;
  text-align: center;
  content: "Karly only";
}

.product-display_limited-products::after{
  color: #333333;

  flex: none;
  order: 0;
  flex-grow: 0;
  text-align: center;
  
  content: "한정수량";
}


/* -------------------------------------------------------------------------- */
/*                              body-event-banner                             */
/* -------------------------------------------------------------------------- */

.body-event-banner{
  width: var(--container-width);
  margin: 0 auto;
  /* background-color: Thistle; */
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.body-event-banner_img-wrapper{
  margin: 40px 0;
  width: 100%;
}
.body-event-banner_img-wrapper img{
  width: 100%;
  object-fit: cover;
}

/* -------------------------------------------------------------------------- */
/*                            todayAD-popup block                             */
/* -------------------------------------------------------------------------- */




/* 상단의 .todayAD-popup__active 속성으로 활성화 */
.todayAD-popup{
  /* display: flex; */
  display: none;
  
  z-index: 200;
  position: fixed;
  left: 160px;
  top: 123px;
  flex-flow: column nowrap;
  /* align-content: space-between; */
  align-items: center; 
  overflow: hidden;
  
  padding: 0px;
  
  width: 330px;
  height: 504px;
  
  /* background: pink; */
  /* Below/Medium */
  
  box-shadow: 0px 8px 36px rgba(0, 0, 0, 0.2);
  border-radius: 16px;
}

.todayAD-popup__active{
  display: flex;
}


.todayAD-popup_main-figure{
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.todayAD-popup_main-img{
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 20;
}

.todayAD-popup_direct-link{
  display: inline-block;
  width: 166px;
  height: 40px;
  margin: 0 auto;
  text-align: center;
  position: absolute;
  bottom: 100px;
  /* background-color: #FA622F;
  opacity: 0.2; */
}

.todayAD-popup_btn-wrapper{
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
  height: 14.6%;
  /* background-color: #FA622F; */
}
.todayAD-popup_btn-wrapper button{
  height: 100%;
  width: 50%;
  border-width: 0;
}

.todayAD-popup_btn-close-for-today{
  border-radius: 0 0 0 12px;
}
.todayAD-popup_btn-close{
  border-radius: 0 0 12px 0;
}