.product-list-main {
  width: var(--container-width);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 48px 0px 80px 0px;
  gap: 48px;
  margin: 0 auto;

}
.product-list_title {
  font-size: 21.328px;
  font-weight: 600;
  line-height: 150%;
}
.product-list_wrapper {
  display: flex;
  flex-flow: row nowrap;
}

/* filter */
.filter {
  width: 267px;
}
.filter_title {
  width: 220px;
  height: 52px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #E1E1E1;
}
.filter_accordion-reset {
  background-color: transparent;
  border: 0;
}

.filter_accordion-button {
  background-color: transparent;
  width: 220px;
  height: 52px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 0;
  border-bottom: 1px solid #E1E1E1;
}

.filter_title-name {
  gap: 8px;
}
.filter_accordion-title {
  font-size: var(--text-base);
  font-weight: 600;
  line-height: 150%;
  color: #333333;
}
.filter_accordion-name {
  font-size: var(--text-base);
  font-weight: 400;
  font-style: normal;
  line-height: 160%;
  color: #333333;
}
.filter_accordion-reset, .filter_accordion-amount {
  font-size: 10px;
  font-weight: 600;
  line-height: 160%;
  color: #A6A6A6;
}
.filter_title-arrow {
  background: url(../assets/icons/web-icons/Arrow-2.svg) no-repeat;
  background-position: -8px -8px;
  width: 18px;
  height: 18px;
}

.filter_accordion-inventory {
  border-bottom: 1px solid #E1E1E1;
  width: 220px;
}
.filter_accordion-list {
  height: 50px;
  padding: 8px 0px 16px;
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-end;
  gap: 8px;
}

.filter_accordion-list input[type="checkbox"] {
  display: none;
}
.filter_accordion-list input[type="checkbox"]+label {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 4px;
}
.filter_accordion-list input[type="checkbox"]+label::before {
  content: "";
  cursor: pointer;
  display: block;
  align-items: center;
  background: url(../assets//icons//Input/Check.svg) no-repeat -8px -8px;
  height: 24px;
  width: 24px;
  margin-right: 4px;
}

.filter_accordion-list input[type="checkbox"]:checked+label::before {
  background: url(../assets//icons//Input/Check.svg) no-repeat -8px -40px;
}

.checkbox-label {
  height: 26px;
}

.filter_accordion-more {
  width: 220px;
  height: 42px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}

/* product-list */
.best-list {
  width: 783px;
  display: flex;
  flex-flow: column nowrap;
}
.best-list_top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 20px;
}
.best-list_top-total {
  display: block;
  font-weight: 600;
  font-size: var(--text-base);
  line-height: 150%;
  color: #333333;
}
.best-list_top-array {
  display: flex;
  flex-flow: row nowrap;
}
.best-list_top-array > li {
  position: relative;
  padding: 0px 8px;
  display: flex;
  font-weight: 600;
  font-size: var(--text-base);
  line-height: 150%;
  color: #A6A6A6;
}
.best-list_top-array > li:first-child {
  color: #333333;
}
.best-list_top-array > li::after {
  position: absolute;
  content: "";
  display: block;
  background-color: #A6A6A6;
  height: 10px;
  width: 1px;
  right: 0;
  top: 30%;
}
.best-list_top-array > li:last-child {
  padding-right: 0px;
}
.best-list_top-array > li:last-child::after {
  display: none;
}
.best-list_top-array > li > img {
  margin-left: 4px;
}
.best-list_inventory {
  display: flex;
  flex-flow: column nowrap;
}
.best-list_inventory-product {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  column-gap: 18px;
  row-gap: 24px;
  height: 2810px;
  margin-bottom: 24px;
}
.best-list_inventory-product > li {
  height: 538px;
}

/* 원준 주석 */

.product-display_product-card{
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
}
.product-display_product-card figure{
  overflow: hidden;
  position: relative;
  width: 249px;
  height: 320px;
}

.product-display_cart-icon-container{
  display: block;
  /* background: pink; */
  position: absolute;
  width: 45px;
  height: 45px;
  top: 260px;
  right: 16px;
  z-index: 40;
}

.product-display_cart-icon{

}

.product-display_product-img{
  /* background: pink; */
  width: 249px;
  height: 320px;
  transition: 600ms;
}


.product-display_product-img:hover{
  transition: 860ms;
  transform: scale(1.1,1.1);
}


.product-display_info-wrapper{
  bottom: 0;
  margin-top: 16px;
  /* position: absolute; */
  min-height: 90px;
  /* max-height: 100px; */
  /* background-color: #fff; */
  display: flex;
  flex-flow: column nowrap;
}

.product-display_info-wrapper mark{
  display: block;
  background-color: #fff;
}

.product-display_shipping-info{
  width: 42px;
  height: 18px;

  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 150%;

  color: #898989;
 
  flex: none;
  order: 0;
  flex-grow: 0;
}

.product-display_product-name{
  /* [풀무원] 탱탱쫄면 (4개입) */
  height: 26px;
  text-align: left;
  font-family: 'Pretendard';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  
  color: #333333;
}
.product-display_price-wrapper{
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-start;
  width: 47px;
  height: 32px;
  gap: 8px;
  
  flex: none;
  order: 2;
  flex-grow: 0;
}
.product-display_discount-rate{
  
  display: inline-block;
  width: 47px;
  height: 32px;
  font-weight: 600;
  font-size: 21px;
  line-height: 150%;
  
  color: #FA622F;
  flex: none;
  order: 0;
  flex-grow: 0;

}
.product-display_sell-price{
  width: 93px;
  height: 32px;
  
  font-family: 'Pretendard';
  font-style: normal;
  font-weight: 600;
  font-size: 21.328px;
  line-height: 150%;
  
  color: #333333;
  
  flex: none;
  order: 1;
  flex-grow: 0;
  
}

.product-display_undiscounted-price{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  isolation: isolate;
  width: 53px;
  height: 19px;
  flex: none;
  order: 3;
  flex-grow: 0;
  font-size: 12px;
  font-weight: 400;
  line-height: 160%;
  color: #898989;
  text-decoration: line-through;
}

.product-display_product-detail{
  width: 162px;
  height: 19px;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 160%;
  color: #898989;
  flex: none;
  order: 4;
  flex-grow: 0;
}
.product-display_badge-wrapper{
  display: flex;
  align-items: flex-start;
  gap: 8px;
  
  width: 123px;
  height: 26px;
  
  flex: none;
  order: 5;
  flex-grow: 0;
}
.product-display_badge-wrapper > mark{
  display: flex;
  justify-content: center;
  padding: 4px;
  gap: 4px;
  
  width: 65px;
  height: 26px;
  font-weight: 600;
  font-size: 12px;
  line-height: 150%;
  background: #E1E1E1;
  border-radius: 4px;

  flex: none;
  order: 0;
  flex-grow: 0;
}

.product-display_karly-only::after{
  
  color: #5F0080;
  flex: none;
  order: 0;
  flex-grow: 0;
  text-align: center;
  content: "Karly only";
}

.product-display_limited-products::after{
  color: #333333;

  flex: none;
  order: 0;
  flex-grow: 0;
  text-align: center;
  
  content: "한정수량";
}

/* 원준 주석 */

/* button-page */
.best-list_inventory-bottom {
  display: flex;
  justify-content: center;
  height: 34px;
  margin-top: 36px;
}
.best-list_inventory-bottom button {
  background-color: transparent;
  width: 34px;
  border: 1px solid #E1E1E1;
}
.button-page-first {
  background: url(../assets/productcard/GoToFirstPage.svg) no-repeat 50% 50%;
}
.button-page-prev {
  background: url(../assets/productcard/GoToPreviousPage.svg) no-repeat 50% 50%;
}
.button-page-next {
  background: url(../assets/productcard/GoToNextPage.svg) no-repeat 50% 50%;
}
.button-page-last {
  background: url(../assets/productcard/GoToLastPage.svg) no-repeat 50% 50%;
}

/* 장바구니 팝업 */
.cart-popup-wrapper {
  display:none;
  width:100%;
  height:100%;
  position:fixed;
  top:0;
  left:0;
  right:0;
  background: rgba(0, 0, 0, 0.6);
  z-index:999;
  
}
.cart-popup {
  /* display: none; */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  width: 396px;
  height: 292px;
  background-color: #FFFFFF;
  box-shadow: 0px 8px 36px rgba(0, 0, 0, 0.2);
  border-radius: 16px;
}
.cart-popup_content {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  padding: 24px 20px;
  gap: 28px;
}
.cart-popup_content-top {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  gap: 12px;
  width: 356px;
  height: 66px;
}
.cart-popup_content-title {
  width: 167px;
  height: 24px;
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;

}
.cart-popup_content-count {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  width: 356px;
  height: 30px;
}
.cart-popup_content-count span {
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  color: #000000;
}
.cart-popup_count-box {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  gap: 8px;
  width: 84px;
  border: 1px solid #C4C4C4;
}
.cart-popup_count-box button {
  background-color: transparent;
  border: 1px solid #FFFFFF;
  width: 30px;
  height: 30px;
}
.cart-popup_count-minus {
  background: url(../assets/icons/web-icons/Minus.svg) no-repeat -8px -47px;
}
.cart-popup_count-plus {
  background: url(../assets/icons/web-icons/Plus.svg) no-repeat -8px -9px;
}
.cart-popup_content-middle {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: flex-end;
  gap: 4px;
  width: 356px;
  height: 68px;
}
.cart-popup_content-middle > div > div{
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: flex-end;
  width: 352px;
  height: 40px;
}
.cart-popup_sum {
  width: 28px;
  height: 24px;
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
}
.cart-popup_price {
  width: 106px;
  height: 40px;
  font-weight: 700;
  font-size: 28px;
  line-height: 140%;
}
.cart-popup_content-middle > div > span {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  gap: 12px;
  width: 154px;
  height: 24px;
  margin-left: 202px;
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
}
.save-tag {
  width: 37px;
  height: 18px;
  background: #FA622F;
  border-radius: 1px;
  padding: 0px 8px;
  font-weight: 600;
  font-size: 12px;
  line-height: 150%;
  color: #FFFFFF;
}
.cart-popup_content-bottom {
  width: 356px;
  height: 54px;
}
.cart-popup_buttons {
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-start;
  gap: 8px;
}
.cart-popup_cancel-button {
  width: 174px;
  height: 54px;
  background-color: #FFFFFF;
  border: 1px solid #898989;
  border-radius: 4px;
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  color: #333333;
}
.cart-popup_add-button {
  width: 174px;
  height: 54px;
  background: #5F0080;
  border-radius: 4px;
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  color: #FFFFFF;
}