/*회원가입*/
.registration {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 80px 0px 40px;
  gap: 44px;
  width: 1920px;
  height: 1489px;
  /* Inside auto layout */
  flex: none;
  order: 2;
  flex-grow: 0;
}

/* 회원가입 글꼴 */
.signup-title{
width: 74px;
height: 32px;
font-style: normal;
font-weight: 600;
font-size: 21.328px;
line-height: 150%;
color: var(--black);
/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;
}

/* 회원가입 폼 */
.signup-form {
display: flex;
flex-direction: column;
align-items: center;
width: 640px;
height: 1293px;
/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;
}


/* 회원가입 폼 필드셋 */
.signup-form fieldset {
box-sizing: border-box;
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
isolation: isolate;
width: 640px;
height: 863px;
/* content */
border-width: 2px 0px 1px 0px;
border-style: solid;
border-color: var(--content);
/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;
}

/* FormField > input = 공통 폼 테이블 영역 */
.form-tr {
display: flex;
flex-direction: row;
align-items: flex-end;
padding: 20px 0px;
gap: 8px;
width: 640px;
height: 84px;
/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;
z-index: 0;
}

/* FormField > input > Label = 공통 폼 리스트 영역 */
.form-list {
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 4px;
gap: 4px;
width: 139px;
height: 44px;
/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;
}

/* input > Label > id부분의 라벨 */
.label-id {
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 4px;
gap: 4px;
isolation: isolate;
width: 50px;
height: 32px;
/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;
}

/* id부분의 라벨의 글꼴 크기 수정 */
.id-detail {
width: 42px;
height: 24px;
/* Label/Medium */
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 150%;
/* identical to box height, or 24px */
/* content */
color: #333333;
/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;
z-index: 0;
}

/* 상단 필수입력사항 별 및 글씨체 */
.line-starter{
  display: block;
  padding-bottom: 10px;
  border-bottom: 2px solid rgb(51, 51, 51);
  font-size: 12px;
  color: rgb(102, 102, 102);
  line-height: 17px;
  text-align: right;
}

.star {
color: rgb(238, 106, 123);
}

/* 라벨들의 별모양 수정 */
.startag {
position: relative;
width: 9px;
height: 24px;
right: -10px;
top: -3px;
/* Label/Medium */
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 150%;
/* identical to box height, or 24px */
/* Info/Error */
color: #F03F40;
/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;
z-index: 1;
}

.input-text {
/* Input / Text */
display: flex;
position: inherit;
flex-direction: column;
align-items: flex-start;
padding: 0px;
width: 333px;
height: 44px;
/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;
}

.input-text input {
width: 333px;
height: 44px;

box-sizing: border-box;
display: flex;
flex-direction: row;
align-items: center;
padding: 12px 20px;
/* 글씨체 굵기 및 색깔, radius 수정 */
border: 1px solid var(--gray-300);
border-radius: 4px;
/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;
}

.doublecheck {
/* Button / Normal */
box-sizing: border-box;

/* Auto layout */

display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px;

width: 143px;
height: 44px;

/* primary */

border: 1px solid #5F0080;
border-radius: 4px;

/* Inside auto layout */

flex: none;
order: 2;
flex-grow: 0;
}

.jungbok {
  width: 56px;
height: 24px;

/* Label/Medium */

font-family: 'Pretendard';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 150%;
/* identical to box height, or 24px */


/* primary */

color: #5F0080;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
}

.label-pw {
  /* Label */


/* Auto layout */

display: flex;
flex-direction: row;
align-items: flex-start;
padding: 4px;
gap: 4px;
isolation: isolate;

width: 64px;
height: 32px;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
}

.pw-detail{
  /* Label */


width: 56px;
height: 24px;

/* Label/Medium */

font-family: 'Pretendard';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 150%;
/* identical to box height, or 24px */


/* content */

color: #333333;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
z-index: 0;
}

.label-pwcheck {
  /* Label */


/* Auto layout */

display: flex;
flex-direction: row;
align-items: flex-start;
padding: 4px;
gap: 4px;
isolation: isolate;

width: 95px;
height: 32px;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
}

.pwcheck-detail {
  /* Label */


width: 87px;
height: 24px;

/* Label/Medium */

font-family: 'Pretendard';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 150%;
/* identical to box height, or 24px */


/* content */

color: #333333;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
z-index: 0;
}

.label-name {
  /* Label */


/* Auto layout */

display: flex;
flex-direction: row;
align-items: flex-start;
padding: 4px;
gap: 4px;
isolation: isolate;

width: 36px;
height: 32px;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
}

.name-detail {
  /* Label */


width: 28px;
height: 24px;

/* Label/Medium */

font-family: 'Pretendard';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 150%;
/* identical to box height, or 24px */


/* content */

color: #333333;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
z-index: 0;
}

.label-email {
  /* Label */


/* Auto layout */

display: flex;
flex-direction: row;
align-items: flex-start;
padding: 4px;
gap: 4px;
isolation: isolate;

width: 50px;
height: 32px;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
}

.email-detail {
  /* Label */


width: 42px;
height: 24px;

/* Label/Medium */

font-family: 'Pretendard';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 150%;
/* identical to box height, or 24px */


/* content */

color: #333333;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
z-index: 0;
}


.label-phone {
  /* Label */


/* Auto layout */

display: flex;
flex-direction: row;
align-items: flex-start;
padding: 4px;
gap: 4px;
isolation: isolate;

width: 50px;
height: 32px;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
}

.phone-detail {
  /* Label */


width: 42px;
height: 24px;

/* Label/Medium */

font-family: 'Pretendard';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 150%;
/* identical to box height, or 24px */


/* content */

color: #333333;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
z-index: 0;
}

.phone-jungbok {
  /* 로그인 */


width: 87px;
height: 24px;

/* Label/Medium */

font-family: 'Pretendard';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 150%;
/* identical to box height, or 24px */


/* primary */

color: #5F0080;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
}

.label-address {
  /* Label */


/* Auto layout */

display: flex;
flex-direction: row;
align-items: flex-start;
padding: 4px;
gap: 4px;
isolation: isolate;

width: 36px;
height: 32px;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
}

.address-form-tr {
  /* Auto layout */

display: flex;
flex-direction: row;
align-items: center;
padding: 20px 0px;
gap: 8px;

width: 640px;
height: 107px;


/* Inside auto layout */

flex: none;
order: 6;
align-self: stretch;
flex-grow: 0;
z-index: 6;
}

.address-detail {
  /* Label */


width: 28px;
height: 24px;

/* Label/Medium */

font-family: 'Pretendard';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 150%;
/* identical to box height, or 24px */


/* content */

color: #333333;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
z-index: 0;
}

.address-container {
  /* Frame 38 */


/* Auto layout */

display: flex;
flex-direction: column;
justify-content: flex-end;
align-items: flex-start;
padding: 0px;
gap: 4px;

width: 333px;
height: 67px;


/* Inside auto layout */

flex: none;
order: 1;
flex-grow: 0;
}

.address-button {
  box-sizing: border-box;

/* Auto layout */

display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px;

width: 333px;
height: 44px;

/* primary */

border: 1px solid #5F0080;
border-radius: 4px;

/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
}

.address-search {
  /* 로그인 */


width: 60px;
height: 24px;

/* Label/Medium */

font-family: 'Pretendard';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 150%;
/* identical to box height, or 24px */


/* primary */

color: #5F0080;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
}

.address-text {
  /* 배송지에 따라 상품 정보가 달라질 수 있습니다. */


width: 219px;
height: 19px;

/* Paragraph/Small */

font-family: 'Pretendard';
font-style: normal;
font-weight: 400;
font-size: 12.003px;
line-height: 160%;
/* or 19px */


color: #000000;


/* Inside auto layout */

flex: none;
order: 1;
flex-grow: 0;
}

.sub-form-tr {
  /* Input */


/* Auto layout */

display: flex;
flex-direction: row;
align-items: center;
padding: 20px 0px;
gap: 8px;

width: 480px;
height: 84px;


/* Inside auto layout */

flex: none;
order: 7;
flex-grow: 0;
z-index: 7;
}


.label-gender {
  /* Label */


/* Auto layout */

display: flex;
flex-direction: row;
align-items: flex-start;
padding: 4px;
gap: 4px;
isolation: isolate;

width: 36px;
height: 32px;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
}

.gender-detail {
  /* Label */


width: 28px;
height: 24px;

/* Label/Medium */

font-family: 'Pretendard';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 150%;
/* identical to box height, or 24px */


/* content */

color: #333333;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
z-index: 0;
}


.gender-check {
/* gender */
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: flex-start;
padding: 0px;
gap: 8px;
width: 333px;
height: 24px;
/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;
}

.gender-container {
/* Radio */
/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 8px;
width: 60px;
height: 24px;
/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;
}

.gender-container [type="radio"] {
  vertical-align: middle;
  appearance: none;
  border: max(2px, 0.1em) solid gray;
  border-radius: 50%;
  width: 1.25em;
  height: 1.25em;
}

.gender-container [type="radio"]:checked {
  border: 0.4em solid #5f0080;
}

.no-select-container{
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 8px;
width: 88px;
height: 24px;
/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;
}

.no-select-container [type="radio"] {
  vertical-align: middle;
  appearance: none;
  border: max(2px, 0.1em) solid gray;
  border-radius: 50%;
  width: 1.25em;
  height: 1.25em;
}

.no-select-container [type="radio"]:checked {
  border: 0.4em solid #5f0080;
}

.label-birth {
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 4px;
gap: 4px;
isolation: isolate;
width: 64px;
height: 32px;
/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;
}

.birth-detail {
width: 56px;
height: 24px;
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 150%;
color: #333333;
/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;
z-index: 0;
}

.birth-container {
box-sizing: border-box;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px 20px;
gap: 31px;
width: 333px;
height: 44px;
border: 1px solid #A6A6A6;
border-radius: 4px;
/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;
}

.birth-container input {
/* YYYY / MM / DD */
width: 333px;
height: 44px;
box-sizing: border-box;
display: flex;
flex-direction: row;
text-align: center;
padding: 12px 20px;
/* 글씨체 굵기 및 색깔, radius 수정 */
border: 1px solid var(--gray-300);
border-radius: 4px;
/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;
}

.label-plus{
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 4px;
gap: 4px;
isolation: isolate;
width: 95px;
height: 32px;
/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;
}

.plus-detail{
width: 87px;
height: 24px;
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 150%;
color: #333333;
/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;
z-index: 0;
}

.extra-input {
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: flex-start;
padding: 0px;
gap: 8px;
width: 333px;
height: 24px;
/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;
}

.friend-invite-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 8px;
  width: 178px;
  height: 24px;
  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}

.friend-invite-container [type="radio"] {
  vertical-align: middle;
  appearance: none;
  border: max(2px, 0.1em) solid gray;
  border-radius: 50%;
  width: 1.25em;
  height: 1.25em;
}

.friend-invite-container [type="radio"]:checked {
  border: 0.4em solid #5f0080;
}

.event-container{
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 8px;
  width: 119px;
  height: 24px;
  /* Inside auto layout */
  flex: none;
  order: 1;
  flex-grow: 0;
}

.event-container [type="radio"] {
  vertical-align: middle;
  appearance: none;
  border: max(2px, 0.1em) solid gray;
  border-radius: 50%;
  width: 1.25em;
  height: 1.25em;
}

.event-container [type="radio"]:checked {
  border: 0.4em solid #5f0080;
}



/* ///회원가입 fieldset과 이용약관동의 구분선////////////////////// */

.agreement-form {
/* Agreement */
box-sizing: border-box;

/* Auto layout */

display: flex;
flex-direction: row;
align-items: flex-start;
padding: 20px 0px;
gap: 8px;

width: 640px;
height: 296px;

/* gray/200 */

border-bottom: 1px solid #C4C4C4;

/* Inside auto layout */

flex: none;
order: 1;
flex-grow: 0;
}

.agreement-detail {
  /* Label */


width: 83px;
height: 24px;

/* Label/Medium */

font-family: 'Pretendard';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 150%;
/* identical to box height, or 24px */


/* content */

color: #333333;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
z-index: 0;
}

.extra-agree {
  /* Frame 39 */


/* Auto layout */

display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 429px;
height: 256px;


/* Inside auto layout */

flex: none;
order: 1;
flex-grow: 0;
}

.allagree {
  /* AllAgree */


/* Auto layout */

display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
padding: 0px 0px 20px;
isolation: isolate;

width: 429px;
height: 52px;


/* Inside auto layout */

flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;
}

.allagree-radio {
  /* Radio */


/* Auto layout */

display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 8px;

width: 172px;
height: 32px;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
z-index: 0;
}


.allagree-radio [type="radio"] {
  vertical-align: middle;
  appearance: none;
  border: max(2px, 0.1em) solid gray;
  border-radius: 50%;
  width: 1.25em;
  height: 1.25em;
}

.allagree-radio [type="radio"]:checked {
  border: 0.4em solid #5f0080;
}


.set1 [type="radio"] {
  vertical-align: middle;
  appearance: none;
  border: max(2px, 0.1em) solid gray;
  border-radius: 50%;
  width: 1.25em;
  height: 1.25em;
}

.set1 [type="radio"]:checked {
  border: 0.4em solid #5f0080;
}

.set2  [type="radio"] {
  vertical-align: middle;
  appearance: none;
  border: max(2px, 0.1em) solid gray;
  border-radius: 50%;
  width: 1.25em;
  height: 1.25em;
}

.set2 [type="radio"]:checked {
  border: 0.4em solid #5f0080;
}

.set3 [type="radio"] {
  vertical-align: middle;
  appearance: none;
  border: max(2px, 0.1em) solid gray;
  border-radius: 50%;
  width: 1.25em;
  height: 1.25em;
}

.set3 [type="radio"]:checked {
  border: 0.4em solid #5f0080;
}

.set4 [type="radio"] {
  vertical-align: middle;
  appearance: none;
  border: max(2px, 0.1em) solid gray;
  border-radius: 50%;
  width: 1.25em;
  height: 1.25em;
}

.set4 [type="radio"]:checked {
  border: 0.4em solid #5f0080;
}




.allagree-text {
/* 전체 동의합니다. */
width: 140px;
height: 32px;

/* Label/Large */

font-family: 'Pretendard';
font-style: normal;
font-weight: 600;
font-size: 21.328px;
line-height: 150%;
/* identical to box height, or 32px */


/* content */

color: #333333;


/* Inside auto layout */

flex: none;
order: 1;
flex-grow: 0;
}

.exception-text {
width: 450px;
height: 19px;
left: 32px;
bottom: 0px;

/* Paragraph/Small */
font-size: 12px;
color: rgb(102, 102, 102);
padding-left: 36px;
flex: none;
order: 1;
flex-grow: 0;
z-index: 1;
}

.extra-normal-agree {
  /* Agree */


/* Auto layout */

display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
padding: 12px 0px;

width: 429px;
height: 51px;


/* Inside auto layout */

flex: none;
order: 1;
flex-grow: 0;
}

.normal-agree{
  /* Radio */


/* Auto layout */

display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
padding: 0px;
gap: 8px;

width: 429px;
height: 27px;


/* Inside auto layout */

flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;
}

.set1 {
  /* set */


/* Auto layout */

display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 8px;

width: 162px;
height: 26px;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
}

.set2 {
  /* set */


/* Auto layout */

display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 8px;

width: 233px;
height: 26px;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
}

.set3 {
  /* set */


/* Auto layout */

display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 8px;

width: 340px;
height: 26px;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
}

.set4 {
  /* set */


/* Auto layout */

display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 8px;

width: 246px;
height: 26px;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
}

.signup-button {
  /* button */


/* Auto layout */

display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 40px 0px;

width: 640px;
height: 134px;


/* Inside auto layout */

flex: none;
order: 2;
align-self: stretch;
flex-grow: 0;
}

.button-normal {
  /* Button / Normal */


/* Auto layout */

display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px;

width: 340px;
height: 54px;

/* primary */

background: #5F0080;
border-radius: 4px;

/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
}

.signup-text {
  /* 로그인 */


width: 56px;
height: 24px;

/* Label/Medium */

font-family: 'Pretendard';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 150%;
/* identical to box height, or 24px */


/* white */

color: #FFFFFF;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
}