@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard-dynamic-subset.css');

/* Base Style */
@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard-dynamic-subset.css');

body,
body::before,
body::after,
body *,
body *::before,
body *::after {
  box-sizing: border-box;
}
a {
  color: inherit;
  text-decoration: none;
}

body {
  font: inherit;
  font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto,
    "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR",
    "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    sans-serif;
  background-color: #fff;
}

/* 유연한 미디어 */
img {
  max-width: 100%;
  height: auto;
}

video {
  width: 100%;
  height: auto;
}

main{
  overflow: hidden;
}


em {
  font-weight: 600;
  color:var(--white);
}

b {
  color:var(--primary);
}






`